#local config
sshCmd: /usr/bin/ssh
dataloggerCmd: ../rp_datalogger/Debug/rp_datalogger
times: 1

#Data of the platforms
# - name: display name
#   host: host name for SSH
#   user: User with sudo nopasswd permision
#   key: file of the key for the user

platforms:
 - name: RaspberryPi
   host: serverpi.local
   user: daniel
   key: ~/.ssh/id_rsa
 - name: BeagleBone
   host: localhost
   user: daniel
   key: ~/.ssh/id_rsa

#Data of the protocols
# - name: display name
#   param: value for programs must be the same in all programs
protocols:
 - name: Kafka
   param: KAFKA
 - name: Mqtt
   param: MQTT
 - name: Soap
   param: WS
 - name: Rest
   param: REST
   
#Data of the languages
# - name: display name
#   dir: directory on the platform, must be the same in all platforms
#   cmd: command to use on the directory, use "%s" (one) to receive the protocol
languages:
 - name: C
   dir: bm_c
   cmd: ./bmc_full -d 0Initial -p %s
 - name: Node
   dir: bm_node
   cmd: node . -d 0Initial -p %s